/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.back{
  padding-left: 10px;
  margin-top:-2px;
}

.cancel{
  margin-right: 10px;
}

/**Animations**/

@keyframes blink {
    0% {
        background-size: 30px 30px;
    }
    50% {
        background-size: 25px 25px;
    }
    100% {
        background-size: 30px 30px;
    }
}
 @-webkit-keyframes blink {
    0% {
        background-size: 30px 30px;
    }
    50% {
        background-size: 25px 25px;
    }
    100% {
        background-size: 30px 30px;
    }
}

/**RSVP Main**/

body, html {
    height: 100%;
    width: 100%;
    font-family: "HelveticaNeue","Helvetica-Neue", "Helvetica", "Arial", sans-serif;
}

.main{
    position:relative;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    margin: 0 auto;
    padding:10px;
}

#div_cursor{
    border-top:2px solid black;
    border-bottom:2px solid black;
    background-image: url(../images/red_marker.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: none;
}

#div_word{
    position: relative;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    font-size: 55pt;
    color: #333333;
    min-width: 600px;
}

#div_image{
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 600px;
}

.visual_item{
    margin-left:-25px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-group-addon{
  width: 50%;
}

.reveal-modal {
    margin-top: -50px;
    overflow-y: auto;
}

.panel-body{
   box-shadow: 2px 3px 11px #888888;
}

.logs_container{
  height: 85%;
}

.logs_body{
  height:100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#container{
  min-width: 310px; height: 400px; margin: 0 auto
}

#div_target{
  min-width: 600px;
  animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
}

/**Home**/

.buttons_home{
  display: block;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.buttons_home a, a:link, a:visited, a:active, a:hover{
  text-decoration: none;
  color: inherit; 
}

.button_bg{
  height: 160px;
  width: 160px;
  background-size: 130px 130px;
  background-repeat: no-repeat;
  background-position: center;  
}

.icon_text{
  height: 20px;
  width: 160px;
  text-align: center;
}

#calibrateEyeTribe {
  background-image: url(../images/eyetracker.png);
}

#calibrateSystem {
  background-image: url(../images/calibrate.png);
}

#experiment {
  background-image: url(../images/experiment.png);
}

#resultList {
  background-image: url(../images/results.png);
}

/**Calibration**/
.cal_wrapper{
  width: 500px;
}

#div_point{
  animation: blink 1s 1;
  -webkit-animation: blink 1s 1;
}

.calibration_point{
  background-image: url(../images/target.png);
  height: 30px;
  width: 100%;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.calibration_point_transparent{
  background-image: url(../images/target_transparent.png);
  height: 30px;
  width: 100%;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

#middle_div{
  width: 100%;
}

#gradient {
  height: 35px;
  width: 92%;
  border: 1px solid #C5C5C5;
  border-radius: 3px;
  -moz-box-shadow: 2px 5px 15px #888888;
  -webkit-box-shadow: 2px 5px 15px #888888;
  box-shadow: 2px 5px 15px #888888;
  margin-right: 13px;
}

#y_axis{
  width: 6%;
  padding-top: 5px;
}

#middle_div input{
  width: 17px;
}

.panel-default {
  margin-top: 10px;
  margin-bottom: 10px;
}

.secong_graph{
  margin-top: 56px;
}