<h1><span class="glyphicon glyphicon-home" aria-hidden="true"/> HOME</h1>

<div class="row buttons_home">
	<div class="col-md-2">
		&nbsp;
	</div>
	<div class="col-md-2">
			<a href="#/calibrate/eyetribe">
			<div class="button_bg" id="calibrateEyeTribe">&nbsp;</div>
			<div class="icon_text"><h4>Calibrate EyeTribe</h4></div>
		</a>
	</div>
	<div class="col-md-2">
			<a href="#/calibrate/system">
			<div class="button_bg" id="calibrateSystem">&nbsp;</div>
			<div class="icon_text"><h4>Calibrate system</h4></div>
		</a>
	</div>
	<div class="col-md-2">
			<a href="#/rsvp">
			<div class="button_bg" id="experiment">&nbsp;</div>
			<div class="icon_text"><h4>Experiment</h4></div>
		</a>
	</div>
	<div class="col-md-2">
			<a href="#/logs">
			<div class="button_bg" id="resultList">&nbsp;</div>
			<div class="icon_text"><h4>Results</h4></div>
		</a>
	</div>
    <div class="col-md-2">
    	&nbsp;
  	</div>
</div>