<h2>
	Available logs
	<div class="pull-right back">
		<button type="button" class="btn btn-primary" onclick="window.history.back()">Back</button>	
	</div>
	<div class="list-group pull-right">
		<div class="input-group">
			<input ng-model="searchText" placeholder="Filter..." class="form-control">
	  		<span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
	  	</div>
	</div>
</h2>

</br>
<div class="panel panel-default logs_container">
	<div class="panel-body logs_body">
		<div class="list-group">
		    	<a href="#/logs/{{trial.file_name}}" ng-repeat="trial in list_of_trials | filter:searchText" class="list-group-item">
		    		{{trial.file_name}}
		    		<h5 class="pull-right">
		    			<small>Click to see more detail</small>&nbsp;
		    			<span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
		    		</h5>
		    	</a>
		    <div ng-show="!list_of_trials.length" class="centered">
		    	<h1> 
		    		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		    		No logs available
		    	</h1>
		    </div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('body').css("background-color","#FFFFFF");
	});
</script>