<div id="controls">
	<button type="button" ng-click="start()" class="btn btn-success">Start</button>
	<button type="button" ng-click="stop()" class="btn btn-danger">Stop</button>
	<button type="button" ng-click="pause()" class="btn btn-warning">Pause</button>
	<button type="button" ng-click="restart()" class="btn btn-success">Restart</button>
	<button type="button" ng-click="resume()" class="btn btn-success">Resume</button>
	<div class="pull-right">
		<button type="button" class="btn btn-primary" ng-click="stop()">Back</button>
	</div>
</div>

<div id="div_cursor" class="centered">
	<div id="div_word" ng-show="!image">
		<span ng-bind="word"/> 
	</div>
	<div id="div_image" ng-show="image">
        <img ng-src="{{image}}"/>
	</div>
</div>

<!--Config modal-->

<div id="config_modal" class="reveal-modal xlarge" style="left:53%">
	<div class="form-horizontal">

		<!-- Trial config -->

		<span class="col-sm-12 label label-info">Experiment trial</span></br>

		<div class="form-group">
 			<label class="col-sm-4 control-label">Trial name</label>
   			<div class="col-sm-8">
      			<input type="text" class="form-control" placeholder="Result file name" ng-model="trial.trial">
    		</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">File name (json)</label>
   			<div class="col-sm-8">
      			<input id="file_name" type="text" class="form-control"  placeholder="Trial content" ng-model="trial.file_name">
    		</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">Item time (ms)</label>
   			<div class="col-sm-8">
      			<input id="item_time" type="text" class="form-control"  placeholder="Item exposure duration" ng-model="trial.item_time">
    		</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">Delay time (ms)</label>
   			<div class="col-sm-8">
      			<input id="delay_time" type="text" class="form-control"  placeholder="Delay between items" ng-model="trial.delay_time">
    		</div>
		</div>

		<!-- Participant information -->

		<span class="col-sm-12 label label-info">Participant information</span></br>

		<div class="form-group">
			<label class="col-sm-4 control-label">Name</label>
   			<div class="col-sm-8">
      			<input type="text" class="form-control" placeholder="Insert subject's name" ng-model="trial.user_name">
    		</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">Age</label>
   			<div class="col-sm-8">
      			<input type="text" class="form-control"  placeholder="Insert subjet's age" ng-model="trial.user_age">
    		</div>
		</div>

		<!-- Font -->

		<span class="col-sm-12 label label-info">Font</span></br>

		<div class="form-group">
			<label class="col-sm-4 control-label">Size (pt)</label>
   			<div class="col-sm-8">
      			<input id="font_size" type="text" class="form-control"  placeholder="Text size" ng-model="trial.font_size">
    		</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">Color (#)</label>
   			<div class="col-sm-8">
      			<input id="font_color" type="text" class="form-control"  placeholder="Font color" ng-model="trial.font_color">
    		</div>
		</div>

		<!-- Background -->

		<span class="col-sm-12 label label-info">Background</span></br>

		<div class="form-group">
			<label class="col-sm-4 control-label">Color (#)</label>
   			<div class="col-sm-2">
      			<input id="app_color" type="text" class="form-control"  placeholder="Experiment background" ng-model="trial.app_bg">
    		</div>
    		<div class="col-sm-2">
    			<input type="radio" name="modality" ng-model="trial.bg_modality" value="0"/> Static
    		</div>
    		 <div class="col-sm-2">
    		 	<input type="radio" name="modality" ng-model="trial.bg_modality" value="1" /> Bright
    		</div>
    		 <div class="col-sm-2">
    		 	<input type="radio" name="modality" ng-model="trial.bg_modality" value="2" /> Obscure
    		</div>
		</div>

		<!-- Eye tracker -->
		<span class="col-sm-12 label label-info">Eye tracker</span></br>

		<div class="form-group">
			<label class="col-sm-4 control-label">Window (ms)</label>
   			<div class="col-sm-8">
      			<input id="window" type="text" class="form-control"  placeholder="Allowed leave/enter box" ng-model="trial.window">
    		</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">Padding (px)</label>
	   			<div class="col-sm-8">
	      			<input id="padding" type="text" class="form-control"  placeholder="Box for pointer" ng-model="trial.padding">
	    		</div>
		</div>

		<!-- Save results-->

		<div class="checkbox">
      		<label>
        		<input type="checkbox" ng-model="trial.save_log"> Save results
      		</label>
    	</div>

    	<!-- Show controls on experiment-->
    	<div class="checkbox">
      		<label>
        		<input id="cb_controls" type="checkbox" checked> Show controls
      		</label>
    	</div>

    	<button type="button" class="btn btn-primary pull-right close-reveal-modal">Start</button> &nbsp;
    	<button type="button" onclick="window.history.back()" class="btn btn-danger pull-right cancel">Cancel</button>

	</div>
	
</div>

<!-- View script-->
<script src="js/partials/rsvp_main.js"></script>
