<h2>Trial</h2>

<div class="form-horizontal">

	<!-- TODO
	<div ng-repeat="(key, value) in trial" class="form-group col-sm-4">
		<div class="input-group">
			  <div class="input-group-addon">{{key}}</div>
			  <input ng-model="value" type="text" class="form-control" readonly>
		</div>
	</div>
	-->

	<div class="form-group col-sm-4">
		<div class="input-group">
			  <div class="input-group-addon">Name</div>
			  <input type="text" class="form-control">
		</div>
	</div>
	<div class="form-group col-sm-4">
		<div class="input-group">
			  <div class="input-group-addon">Age</div>
			  <input type="text" class="form-control">
		</div>
	</div>
	<div class="form-group col-sm-4">
		<div class="input-group">
			  <div class="input-group-addon">Filename</div>
			  <input type="text" class="form-control">
		</div>
	</div>
	<div class="form-group col-sm-4">
		<div class="input-group">
			  <div class="input-group-addon">Item time</div>
			  <input type="text" class="form-control">
		</div>
	</div>
	<div class="form-group col-sm-4">
		<div class="input-group">
			  <div class="input-group-addon">Delay time</div>
			  <input type="text" class="form-control">
		</div>
	</div>
	<div class="form-group col-sm-4">
		<div class="input-group">
			  <div class="input-group-addon">Font size</div>
			  <input type="text" class="form-control">
		</div>
	</div>
	<div class="form-group col-sm-4">
		<div class="input-group">
			  <div class="input-group-addon">Font color</div>
			  <input type="text" class="form-control">
		</div>
	</div>
	<div class="form-group col-sm-4">
		<div class="input-group">
			  <div class="input-group-addon">Box bg</div>
			  <input type="text" class="form-control">
		</div>
	</div>
	<div class="form-group col-sm-4">
		<div class="input-group">
			  <div class="input-group-addon">Application bg</div>
			  <input type="text" class="form-control">
		</div>
	</div>

</div>

<!--Container for graph-->
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<!--Graph data-->
<script src="js/partials/rsvp_trial.js"></script>