<button type="button" ng-click="start()" class="btn btn-success">Start</button>
<button type="button" ng-click="stop()" class="btn btn-danger">Stop</button>
<button type="button" ng-click="pause()" class="btn btn-warning">Pause</button>
<button type="button" ng-click="restart()" class="btn btn-success">Restart</button>
<button type="button" ng-click="resume()" class="btn btn-success">Resume</button>

<div id="div_cursor" class="centered">
	<div id="div_wrapper">
		<div id="div_word">
			{{word}}
		</div>
	</div>
</div>

<!--Config modal-->

<div id="config_modal" class="reveal-modal">
	<div class="form-horizontal">
		<div class="form-group">
 			<label class="col-sm-4 control-label">Trial</label>
   			<div class="col-sm-8">
      			<input type="text" class="form-control" placeholder="Insert trial name" ng-model="trial.trial">
    		</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">Name</label>
   			<div class="col-sm-8">
      			<input type="text" class="form-control" placeholder="Insert subject's name" ng-model="trial.user_name">
    		</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">Age</label>
   			<div class="col-sm-8">
      			<input type="text" class="form-control"  placeholder="Insert subjet's age" ng-model="trial.user_age">
    		</div>
		</div>

		<div class="form-group">
			<label class="col-sm-4 control-label">Filename (json)</label>
   			<div class="col-sm-8">
      			<input id="file_name" type="text" class="form-control"  placeholder="Filename content" ng-model="trial.file_name">
    		</div>
		</div>

		<div class="form-group">
			<label class="col-sm-4 control-label">Item time (ms)</label>
   			<div class="col-sm-8">
      			<input id="item_time" type="text" class="form-control"  placeholder="Item display duration" ng-model="trial.item_time">
    		</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">Delay time (ms)</label>
   			<div class="col-sm-8">
      			<input id="delay_time" type="text" class="form-control"  placeholder="Delay between items" ng-model="trial.delay_time">
    		</div>
		</div>

		<!-- Font -->

		<span class="col-sm-12 label label-info">Font</span></br>

		<div class="form-group">
			<label class="col-sm-4 control-label">Size (pt)</label>
   			<div class="col-sm-8">
      			<input id="font_size" type="text" class="form-control"  placeholder="Text size" ng-model="trial.font_size">
    		</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">Color (#)</label>
   			<div class="col-sm-8">
      			<input id="font_color" type="text" class="form-control"  placeholder="Font color" ng-model="trial.font_color">
    		</div>
		</div>
		<!-- Backgraound colors -->

		<span class="col-sm-12 label label-info">Background colors</span></br>

		<div class="form-group">
			<label class="col-sm-4 control-label">Box (#)</label>
   			<div class="col-sm-8">
      			<input id="box_color" type="text" class="form-control"  placeholder="Word wrapper background" ng-model="trial.box_bg">
    		</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">Application (#)</label>
   			<div class="col-sm-8">
      			<input id="app_color" type="text" class="form-control"  placeholder="Application background" ng-model="trial.app_bg">
    		</div>
		</div>

		<!-- Eye tracker -->
		<span class="col-sm-12 label label-info">Eye tracker</span></br>

		<div class="form-group">
			<label class="col-sm-4 control-label">Window (ms)</label>
   			<div class="col-sm-8">
      			<input id="window" type="text" class="form-control"  placeholder="Allowed leave/enter box">
    		</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">Padding (px)</label>
	   			<div class="col-sm-8">
	      			<input id="padding" type="text" class="form-control"  placeholder="Box for pointer">
	    		</div>
		</div>

		<!-- Save results-->

		<div class="checkbox">
      		<label>
        		<input type="checkbox" ng-model="trial.save_log" checked="checked"> Save results
      		</label>
    	</div>

	</div>
	<button type="button" class="btn btn-primary pull-right close-reveal-modal">Start</button>
</div>

<!-- View script-->
<script src="js/partials/rsvp_main.js"></script>
