<div id="div_cursor" class="centered">
    <button type="button" ng-click="start()">Start</button>
    <button type="button" ng-click="stop()">Stop</button>
    <button type="button" ng-click="pause()">Pause</button>
    <button type="button" ng-click="restart()">Restart</button>
	<div id="div_wrapper">
		<div id="div_word">
			{{word}}
		</div>
	</div>
</div>

<!--Config modal-->

<div id="config_modal" class="reveal-modal">
	<h1>Test</h1>
	<a class="close-reveal-modal">Start &#215;</a>
</div>

<script>
$(document).ready(function(){
	$('#config_modal').reveal();
});
</script>
