<h2>
	<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
	{{trial.configuration.trial}}
	<div class="pull-right">
		<button type="button" class="btn btn-primary" onclick="window.history.back()">Back</button>
	</div>
</h2>

</br>

<div class="panel panel-default">
  <div class="panel-body">
    <div ng-repeat="(key, value) in trial.configuration" class="col-md-3">
		<div class="input-group">
			<strong>{{key}}: </strong>{{value}}
		</div>
	</div>
  </div>
</div>

<div class="panel panel-default">
  	<div class="panel-body">
	<!--Container for graph-->
		<div id="original"></div>
	</div>
</div>

<div id="gradient" class="text-center pull-right">
	<h6>Experiment background</h6>
</div>

<div class="panel panel-default secong_graph">
  	<div class="panel-body">
	<!--Container for graph-->
		<div id="processed"></div>
	</div>
</div>

<div class="panel panel-default">
  	<div class="panel-body text-center">
  		<h4>Summary</h4>
  		<!--Draw summary items-->
  		<table class="table table-striped">
  			<tr ng-repeat="(key, displayItemAndEyes) in trial.data">
  				<td>
  					<strong>{{displayItemAndEyes.item.value}}</strong>
  				</td>
				<td ng-repeat="(key, value) in displayItemAndEyes.summary">
					 <strong>{{key}}: </strong>{{value}}
				</td>
			</tr>
		</table>
	</div>
</div>

<!--Graph data-->
<script src="js/partials/svp_trial.js" defer></script>